.links h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 30px;
}

.button {
  width: 80%;
  margin: 40px auto 10px auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}

.button a {
  border: 1px solid var(--red);
  border-radius: 5px;
  color: var(--red);
  padding: 15px;
  text-decoration: none;
  transition: all .2s ease-in-out;
  /* margin: 20px auto; */
}

.button a:hover {
  background-color: var(--red);
  color: white;
}

.links p {
  width: 60vw;
  margin: 0 auto;
  text-align: center;
  font-size: 1.7em;
}