.center h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 30px;
}

.center p {
  font-size: 2em;
  text-align: center;
  width: 60vw;
  margin: 0 auto;
}

.buttons {
  width: 80%;
  margin: 30px auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}

.buttons a {
  border: 1px solid var(--red);
  border-radius: 5px;
  color: var(--red);
  padding: 15px;
  text-decoration: none;
  transition: all .2s ease-in-out;
  margin: 20px 0;
}

.buttons a:hover {
  background-color: var(--red);
  color: white;
}