.sideDrawer {
  background-color: white;
  position: fixed;
  top: 10vh;
  left: 0;
  width: 20vw;
  height: 90vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: translateX(0);
  transition: all .3s ease-in-out;
  z-index: 3;
}

.hidden {
  transform: translateX(-30vw);
}

.sideDrawer a {
  text-decoration: none;
  color: black;
  font-size: 1.6em;
}

.sideDrawer a:hover {
  color: var(--red);
}

a.active {
  color: var(--red);
}